<mat-card class="parent-card">
    <mat-card-header>
        <mat-card-title>Personal Informations</mat-card-title>
        <!-- <mat-card-subtitle>Welcome {{ user?.name }}!</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <p>Name: {{ user?.name }}</p>
        <p>E-mail: {{user?.email}}</p>
        <p>Weight: {{user?.weight}} ({{user?.weightUnit}})</p>
        <p>Height: {{user?.height}} ({{user?.heightUnit}})</p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
</mat-card>