.no-foods-block h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

button {
    // width: 100%;
    margin-bottom: 0px;


    right: 15px;
    bottom: 40px;
    position: absolute;
    
}