<div class="main-login-content">
    <mat-card class="login-content">
        <mat-card-header>
            <mat-card-title>
                Sign in to Fiber
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Username/E-mail</mat-label>
                        <input matInput type="text" name="username"  [formControl]="username"/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" name="password"  [formControl]="password"/>
                    </mat-form-field>
                </p>
                <button color="primary" mat-flat-button>Submit</button>
            </form>
            <br>
        </mat-card-content>
    </mat-card>
    <div class="btn-action">
        <button mat-flat-button routerLink="/register">Create Account</button>
        <br><br>
        <button mat-flat-button routerLink="/">Go Back</button>
    </div>
</div>