.main-login-content {
    margin-top: 10dvh;
    width: 100%;
}

.login-content {
    margin: auto;
}

.login-content form button {
    width: 100%;
}

.btn-action {
    width: 100%;
}

.btn-action button {
    width: 100%;
}

.btn-action button:first-of-type {
    margin-top: 15px;
}

.login-content mat-form-field {
    width: 100%;
}

@media(min-width: 599px) and (max-width: 1023px) {
    .login-content {
        width: 50%;
    }

    .btn-action {
        width: 50%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .login-content {
        width: 30%;
    }

    .btn-action {
        width: 30%;
        margin: auto;
    }
}