<mat-toolbar style="position: fixed; z-index: 100; margin-top: 0px;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="menuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Fiber</span>
</mat-toolbar>

<div style="background-color: rgb(184, 61, 184); ">
  <mat-drawer-container class="example-container" autosize style="">
    <mat-drawer #drawer class="example-sidenav" mode="push">
      <p>Works s,knvsnvksdnvklsdnlk</p>
    </mat-drawer>
    <mat-drawer-content style="padding-left: 15px; padding-right: 15px;">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
