<h2>Seasons</h2>
<mat-card *ngFor="let season of seasons" class="card-parent">
    <mat-card-header>
        <mat-card-title>{{ season.name }}</mat-card-title>
        <mat-card-subtitle>{{ season.initialDate }} - {{ season.finalDate || "Now" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{ season.description }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <a [routerLink]="['detail', season.id]" mat-raised-button color="primary">
            Details
        </a>
    </mat-card-actions>
</mat-card>