<form class="form" [formGroup]="foodForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput placeholder="Ex. Pizza" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Base quantity:</mat-label>
        <input matInput placeholder="A cada 100g" type="number" formControlName="baseQuantity">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Carbohydrate:</mat-label>
        <input matInput type="number" formControlName="carbohydrate">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Protein:</mat-label>
        <input matInput type="number" formControlName="protein">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Fat:</mat-label>
        <input matInput type="number" formControlName="fat">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Calories:</mat-label>
        <input matInput type="number" formControlName="calories">
    </mat-form-field>

    <button mat-raised-button type="submit">Add</button>
</form>