mat-sidenav-container {
    height: calc(100% - 56px);
}

mat-sidenav {
    padding: 16px 0px;
}

.menu-list-item {
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 599px) {
    mat-sidenav-container {
        height: calc(100% - 64px);
    }
}

