form {
    // background-color: bisque;
    margin-bottom: 20px;
}

.table-container {
    overflow: auto;
}

.autocomplete-input {
    width: 100%;
}

.qtd-input {
    width: 100%;
}

.date-input {
    width: calc(50% - 10px);
    margin-right: 10px;
}

.hour-input {
    width: calc(50% - 10px);
    margin-left: 10px;
}
